.dart_tool
android
build
ios
macos
test
linux
web
windows
.flutter-plugins
.flutter-plugins-dependencies
analysis_options.yaml
firebase-debug.log
meau_app.iml
package-lock.json
pubspec.lock
firebase_options.dart
