<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422003386090-c62khqm0aqck2jv03tqtqf2hsrs8srrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422003386090-c62khqm0aqck2jv03tqtqf2hsrs8srrt</string>
	<key>API_KEY</key>
	<string>AIzaSyCDE20-XG7OOMEdapwNbcLXe9f8uZmRZIE</string>
	<key>GCM_SENDER_ID</key>
	<string>422003386090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meauApp</string>
	<key>PROJECT_ID</key>
	<string>maurilio-ca5d7</string>
	<key>STORAGE_BUCKET</key>
	<string>maurilio-ca5d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422003386090:ios:d3902f93ad655f88639993</string>
</dict>
</plist>